{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":209.0625,"scrollleft":0,"selection":{"start":{"row":57,"column":16},"end":{"row":57,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"state":"start","mode":"ace/mode/text"}},"hash":"e9771310c21b7d6dac4055f3013fe1616a77447d","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":49,"column":16},"end":{"row":50,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":50,"column":0},"end":{"row":57,"column":16},"action":"insert","lines":["Click==7.0","Flask==1.0.2","Flask-PyMongo==2.2.0","itsdangerous==1.1.0","Jinja2==2.10","MarkupSafe==1.1.0","pymongo==3.7.2","Werkzeug==0.14.1"],"id":3}]]},"timestamp":1582730817949}