{% extends 'base.html' %}
{% block content %}
         <div class="row container-fluid">
            <a class="col-md-12 logo" href="home.html"></a>
            <div class="col-md-12">
               <h2 class="welcome-title">What we are About</h2>
               <p class="welcome">Because many of us definitely don't read as much as we'd like to, 
                  the idea of joining a book club seems even more unlikely than happily sharing a pizza (never going to happen).
                  So we created a book club where we can not just read our favorite stories but watch them too.
                  Millions of books have been adapted on the big screen and we are only scratching the surface.
                  We keep tabs on what top leaders are reading or recommending and the beauty of this book club that's not a book club, is that it's online.
                  So no awkward small talk or having to make yourself look presentable to discuss the pages you have absorbed.
                  Book clubs are an opportunity to develop emotional intelligence, foster relationships and improve as communicators.
                  This spoke to me and it spoke to several others around me. so we decided to give it a go.
                  Founded in 2017 we haven't been going for very long but have found great success and some little gems along the way.
                  Even if you never would have picked the selection, a book club challenges you to think differently. 
               </p>
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/hobbitlaptop.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/stonehead.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/narniabook.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/harrypotterlaptop.jpg">
            </div>
         </div>
         <div class="row container-fluid">
            <div class="col-md-8">
               <h2 class="bio">Beth</h2>
               <p class="beth">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </p>
               <h4 class="welcome-title">My Top Picks</h4>
               <ul class="inline-block list-inline container-fluid">
                  <li class="top-picks">
                     Lord Of The Rings Trilogy
                  </li>
                  <li class="top-picks">
                     Game of Thrones
                  </li>
                  <li class="top-picks">
                     The Witcher
                  </li>
               </ul>
            </div>
            <div class="col-md-4 inline-item">
               <img class="picture3" src="static/img/beth.jpg">
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 inline-item">
               <img class="picture3" src="static/img/lauren3.jpg">
            </div>
            <div class="col-md-8">
               <h2 class="bio">Lauren</h2>
               <p class="welcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </p>
               <h4 class="welcome-title">My Top Picks</h4>
               <ul class="inline-block list-inline container-fluid">
                  <li class="top-picks">
                     The Hobbit
                  </li>
                  <li class="top-picks">
                     The Hunger Games
                  </li>
                  <li class="top-picks">
                     Little Women
                  </li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8">
               <h2 class="bio">Anna</h2>
               <p class="welcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </p>
               <h4 class="welcome-title">My Top Picks</h4>
               <ul class="inline-block list-inline container-fluid">
                  <li class="top-picks">
                     Harry Potter (all of them)
                  </li>
                  <li class="top-picks">
                     Killing Eva
                  </li>
                  <li class="top-picks">
                     You
                  </li>
               </ul>
            </div>
            <div class="col-md-4 container-fluid">
               <img class="picture3" src="static/img/lauren2.jpg">
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h5 class="blank">blank line</h5>
            </div>
         </div>
         <div class="container">
         <div class="row bg-color-contact">
         <div class="col-sm-12 background">
         <h3 class="welcome-title uppercase">Have an enquiry?</h3>
         <div class="row">
            <div class="col-md-12">
               <img class="picture5" src="static/img/contact.jpg">      
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h5 class="welcome-title">Send us an Email</h5>
            </div>
         </div>
         <div class="container">
            <div class="col-sm-12 center-form">
               <form onsubmit="return sendMail(this);">
                  <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
                  <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                  <textarea rows="5" name="projectsummary" class="form-control" id="projectsummary" placeholder="Enquiry" required></textarea>
                  <button type="submit" class="btn btn-secondary center-block">Send Enquiry</button>
               </form>
            </div>
         </div>
{% endblock %}