<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='img')}}" type="text/css" />
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
   </head>
   <body>
      <header class="container-fluid">
         <div id="social-links" class="row">
            <div class="col-sm-4">
               <ul class="list-inline social-links">
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-facebook" aria-hidden="true"></i>
                     <span class="sr-only">Facebook</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-twitter" aria-hidden="true"></i>
                     <span class="sr-only">Twitter</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-snapchat" aria-hidden="true"></i>
                     <span class="sr-only">Snapchat</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-pinterest" aria-hidden="true"></i>
                     <span class="sr-only">Pinterest</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-instagram" aria-hidden="true"></i>
                     <span class="sr-only">Instagram</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-youtube" aria-hidden="true"></i>
                     <span class="sr-only">YouTube</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="row no-gutters">
            <div class="col">
               <ul id="nav" class="list-inline menucontainer">
                  <li class="col-4 col-sm-3 ui-menu-color-home list-inline-item menuitem">
                     <a href="index1" class="hvr-sweep-to-bottom"><span>Home</span></a>
                  </li>
                  <li class="col-4 col-sm-3 ui-menu-color-bio list-inline-item menuitem">
                     <a href="about1" class="hvr-sweep-to-bottom"><span>About Us</span></a>
                  </li>
                  <li class="col-4 col-sm-3 ui-menu-color-shows list-inline-item menuitem">
                     <a href="choices1" class="hvr-sweep-to-bottom"><span>Our Choices</span></a>
                  </li>
                  <li class="col-4 col-sm-3 ui-menu-color-music list-inline-item menuitem">
                     <a href="forum1" class="hvr-sweep-to-bottom"><span>Forum</span></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="row no-gutters bg-color-bandname">
            <div class="col headings">
               <h2 class="webname">From Paper to Screen</h2>
            </div>
         </div>
      </header>
      {% block content %} {% endblock %}
      <footer class="container-fluid">
         <div id="footer-details" class="row">
            <div class="col-md-4">
               <h5 class="uppercase general-sub">Menu</h5>
               <ul class="inline-block list-inline container-fluid">
                  <li class="list-item">
                     <a target="_blank" href="index1">
                     <span>Home</span>
                     </a>
                  </li>
                  <li class="list-item">
                     <a target="_blank" href="about1">
                     <span>About Us</span>
                     </a>
                  </li>
                  <li class="list-item">
                     <a target="_blank" href="choices1">
                     <span>Our Choices</span>
                     </a>
                  </li>
                  </li>
                  <li class="list-item">
                     <a target="_blank" href="forum1">
                     <span>Forum</span>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <h5 class="uppercase general-sub">Our Choices</h5>
               <ul class="inline-block list-inline container-fluid">
                  <li class="list-item">
                     <a target="_blank" href="choices1">
                     <span>Lord Of The Rings Trilogy</span>
                     </a>
                  </li>
                  <li class="list-item">
                     <a target="_blank" href="choices1">
                     <span>Game of Thrones</span>
                     </a>
                  </li>
                  <li class="list-item">
                     <a target="_blank" href="choices1">
                     <span>The Witcher</span>
                     </a>
                  </li>
                  <li class="list-item">
                     <a target="_blank" href="<choices1">
                     <span>The Hobbit</span>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="list-inline social-links container-fluid">
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-facebook" aria-hidden="true"></i>
                     <span class="sr-only">Facebook</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-twitter" aria-hidden="true"></i>
                     <span class="sr-only">Twitter</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-snapchat" aria-hidden="true"></i>
                     <span class="sr-only">Snapchat</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-pinterest" aria-hidden="true"></i>
                     <span class="sr-only">Pinterest</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-instagram" aria-hidden="true"></i>
                     <span class="sr-only">Instagram</span>
                     </a>
                  </li>
                  <li class="list-inline-item">
                     <a target="_blank" href="#">
                     <i class="fa fa-youtube" aria-hidden="true"></i>
                     <span class="sr-only">YouTube</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
             $('.collapsible').collapsible();
             $('select').material_select();
         })
      </script>
      <script>
         function myFunction(dots, more, btn) {
         var dots = document.getElementById(dots);
         var moreText = document.getElementById(more);
         var btnText = document.getElementById(btn);
         
         if (dots.style.display === "none") {
         dots.style.display = "inline";
         btnText.innerHTML = "Read more";
         moreText.style.display = "none";
         } else {
         dots.style.display = "none";
         btnText.innerHTML = "Read less";
         moreText.style.display = "inline";
         }
         }
      </script>
   </body>
</html>