{% extends 'base.html' %}
{% block content %}
         <div class="row container-fluid">
            <div class="col-md-12">
               <h2 class="welcome-title">Our Top Choices</h2>
               <p class="welcome">Here you can view our NO.1 choices that we could watch on a loop.
                  Curl up on a rainy Sunday morning and emerse ourselves into a new a different world. <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                  Take a look below and see if you agree with us.
               </p>
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/booksandflowers.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/keyandmap.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/harry.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/reading.jpg">
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h5 class="blank">blank line</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h3 class="welcome-title">On the big screen</h3>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <h4 class="bio">LOTR</h4>
               <p class="choices"><img src="static/img/lotr.jpg" class="picture-choices">The Lord of the Rings is a film series of three epic fantasy adventure films directed by Peter Jackson, based on the novel written by J. R. R. Tolkien.
                  Set in the fictional world of Middle-earth, the films follow the hobbit Frodo Baggins as he and the Fellowship embark on a quest to destroy the One Ring, 
                  to ensure the destruction of its maker, the Dark Lord Sauron. 
                  <span id="Lotrdots">...</span><span id="Lotrmore">The Fellowship eventually splits up and Frodo continues the quest with his loyal companion Sam and the treacherous Gollum. 
                  Meanwhile, Aragorn, heir in exile to the throne of Gondor, along with Legolas, Gimli, Merry, Pippin and the wizard Gandalf, 
                  unite to rally the Free Peoples of Middle-earth in the War of the Ring in order to aid Frodo by weakening Sauron's forces.
                  The three films were shot simultaneously and entirely in Jackson's native New Zealand from 11 October 1999 until 22 December 2000, with pick-up shots done from 2001 to 2004. 
                  It was one of the biggest and most ambitious film projects ever undertaken, with a budget of $281 million. 
                  An extended edition of each film was released on home video a year after its theatrical release.
                  The Lord of the Rings is widely regarded as one of the greatest and most influential film series ever made. 
                  It was a major financial success and is among the highest-grossing film series of all time with over $2.9 billion in worldwide receipts. 
                  Each film was critically acclaimed and heavily awarded, winning 17 out of their 30 Academy Award nominations.<br>
                  <a class="col-md-4 buy" href="https://www.amazon.co.uk/Middle-Earth-Collection-Extended-Blu-Ray/dp/B01LTHMP46/ref=sr_1_1?crid=18GKWL409N6GB&keywords=lotr+6+film&qid=1581347400&sprefix=lotr+film%2Caps%2C170&sr=8-1">Buy Now</a>
                  </span>
                  <button onclick="myFunction('Lotrdots', 'Lotrmore', 'LotrBtn')" id="LotrBtn">Read more</button>
               </p>
            </div>
            <div class="col-md-4">
               <h4 class="bio">Harry Potter</h4>
               <p class="choices"><img src="static/img/harrypotter.jpg" class="picture-choices">Harry Potter is a British-American film series based on the eponymous novels by author J. K. Rowling. 
                  The series is distributed by Warner Bros. and consists of eight fantasy films, beginning with Harry Potter and the Philosopher's Stone (2001) and culminating with Harry Potter and the Deathly Hallows – Part 2 (2011).
                  <span id="HPdots">...</span><span id="HPmore">The series was mainly produced by David Heyman, and stars Daniel Radcliffe, Rupert Grint, and Emma Watson as the three leading characters: 
                  Harry Potter, Ron Weasley, and Hermione Granger. 
                  Four directors worked on the series: Chris Columbus, Alfonso Cuarón, Mike Newell, and David Yates. 
                  Michael Goldenberg wrote the screenplay for Harry Potter and the Order of the Phoenix (2007), 
                  while the remaining films had their screenplays written by Steve Kloves. 
                  Production took place over ten years, with the main story arc following Harry Potter's quest to overcome his arch-enemy Lord Voldemort.
                  Harry Potter and the Deathly Hallows, the seventh and final novel in the series, was adapted into two feature-length parts.
                  Part 1 was released in November 2010, and Part 2 was released in July 2011.
                  Philosopher's Stone and Deathly Hallows – Part 2 are among the 50 highest-grossing films of all time, 
                  with the latter ranking as the twelfth highest-grossing film, having grossed over $1 billion. 
                  Without inflation adjustment, it is the third highest-grossing film series with $7.7 billion in worldwide receipts.<br>
                  <a class="col-md-4 buy" href="https://www.amazon.co.uk/Harry-Potter-Complete-8-film-Collection/dp/B01C45OBKI/ref=sr_1_2?crid=1QPPMZANYBIKY&keywords=harry+potter+films&qid=1581863490&sprefix=harry+potter+film%2Caps%2C225&sr=8-2">Buy Now</a>
                  </span>
                  <button onclick="myFunction('HPdots', 'HPmore', 'HPBtn')" id="HPBtn">Read more</button> 
               </p>
            </div>
            <div class="col-md-4">
               <h4 class="bio">The Hobbit</h4>
               <p class="choices"><img src="static/img/thehobbit.jpg" class="picture-choices">The Hobbit is a film series consisting of three high fantasy adventure films directed by Peter Jackson. 
                  They are based on the 1937 novel The Hobbit by J. R. R. Tolkien, with large portions of the trilogy inspired The Return of the King, as well as new material and characters written especially for the films.
                  Together they act as a prequel to Jackson's LOTR. 
                  <span id="Hobbitdots">...</span><span id="Hobbitmore">The films are subtitled An Unexpected Journey (2012), The Desolation of Smaug (2013), and The Battle of the Five Armies (2014).
                  The films feature an ensemble cast that also includes James Nesbitt, Ken Stott, Aidan Turner, Dean O'Gorman, Billy Connolly, Graham McTavish, Peter Hambleton, John Callen, Mark Hadlow, Jed Brophy, Adam Brown, William Kircher, Stephen Hunter, Antony Sher, Evangeline Lilly, Lee Pace and Luke Evans, 
                  with several actors reprising their roles from The Lord of the Rings, including Cate Blanchett, Orlando Bloom, Ian Holm, Christopher Lee, Hugo Weaving, Elijah Wood, and Andy Serkis. 
                  The films also feature Manu Bennett, Conan Stevens, John Tui, Sylvester McCoy, Stephen Fry, Ryan Gage, John Bell, Mikael Persbrandt, Barry Humphries, and Lawrence Makoare. 
                  Also returning for production, among others, were illustrators John Howe and Alan Lee, art director Dan Hennah, cinematographer Andrew Lesnie, and composer Howard Shore, 
                  while props were again crafted by Weta Workshop, with visual effects managed by Weta Digital.
                  The first film in the series premiered at the Embassy Theatre in Wellington, New Zealand on 28 November 2012. 
                  One hundred thousand people lined the red carpet on Courtenay Place, and the entire event was broadcast live on television in New Zealand and streamed over the Internet. 
                  The second film of the series premiered at the Dolby Theatre in Los Angeles, California on 2 December 2013. 
                  The third and final film premiered at the Odeon Leicester Square in London on 1 December 2014.
                  Despite critics considering the series inferior to its predecessor The Lord of the Rings, it was more successful financially; 
                  The Hobbit trilogy is one of the highest-grossing film series of all time. 
                  It was also nominated for various awards and won several, although not as many as the original trilogy.<br>
                  <a class="col-md-4 buy" href="https://www.amazon.co.uk/Middle-Earth-Collection-Extended-Blu-Ray/dp/B01LTHMP46/ref=sr_1_1?crid=18GKWL409N6GB&keywords=lotr+6+film&qid=1581347400&sprefix=lotr+film%2Caps%2C170&sr=8-1">Buy Now</a>
                  </span>
                  <button onclick="myFunction('Hobbitdots', 'Hobbitmore', 'HobbitBtn')" id="HobbitBtn">Read more</button>
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h5 class="blank">blank line</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <h3 class="welcome-title">Novels</h3>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <h3 class="bio">LOTR</h3>
               <p class="choices"><img src="static/img/bookandring.jpg" class="picture-choices2">The Lord of the Rings is a film series of three epic fantasy adventure films directed by Peter Jackson, based on the novel written by J. R. R. Tolkien.
                  Set in the fictional world of Middle-earth, the films follow the hobbit Frodo Baggins as he and the Fellowship embark on a quest to destroy the One Ring, 
                  to ensure the destruction of its maker, the Dark Lord Sauron. 
                  <span id="TheHobbitdots">...</span><span id="TheHobbitmore">The Fellowship eventually splits up and Frodo continues the quest with his loyal companion Sam and the treacherous Gollum. 
                  Meanwhile, Aragorn, heir in exile to the throne of Gondor, along with Legolas, Gimli, Merry, Pippin and the wizard Gandalf, 
                  unite to rally the Free Peoples of Middle-earth in the War of the Ring in order to aid Frodo by weakening Sauron's forces.
                  The three films were shot simultaneously and entirely in Jackson's native New Zealand from 11 October 1999 until 22 December 2000, with pick-up shots done from 2001 to 2004. 
                  It was one of the biggest and most ambitious film projects ever undertaken, with a budget of $281 million. 
                  An extended edition of each film was released on home video a year after its theatrical release.
                  The Lord of the Rings is widely regarded as one of the greatest and most influential film series ever made. 
                  It was a major financial success and is among the highest-grossing film series of all time with over $2.9 billion in worldwide receipts. 
                  Each film was critically acclaimed and heavily awarded, winning 17 out of their 30 Academy Award nominations.<br>
                  <a class="col-md-4 buy" href="https://www.amazon.co.uk/Hobbit-Lord-Rings-Boxed-Set/dp/0261103563/ref=sr_1_1?keywords=lotr+books&qid=1581863681&sr=8-1">Buy Now</a>
                  </span>
                  <button onclick="myFunction('TheHobbitdots', 'TheHobbitmore', 'TheHobbitBtn')" id="TheHobbitBtn">Read more</button>
               </p>
            </div>
            <div class="col-md-4">
               <h3 class="bio">Game of Thrones</h3>
               <p class="choices"><img src="static/img/got-book.jpg" class="picture-choices2">Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss for HBO. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is A Game of Thrones.
                  The show was both produced and filmed in Belfast and elsewhere in the United Kingdom. 
                  Filming locations also included Canada, Croatia, Iceland, Malta, Morocco, and Spain.
                  <span id="GOTdots">...</span><span id="GOTmore">The series premiered on HBO in the United States on April 17, 2011, and concluded on May 19, 2019, with 73 episodes broadcast over eight seasons.
                  Set on the fictional continents of Westeros and Essos, Game of Thrones has several plots and a large ensemble cast and follows several story arcs. 
                  One arc is about the Iron Throne of the Seven Kingdoms and follows a web of alliances and conflicts among the noble dynasties either vying to claim the throne or fighting for independence from it. 
                  Another focuses on the last descendant of the realm's deposed ruling dynasty, who has been exiled and is plotting a return to the throne, 
                  while another story arc follows the Night's Watch, a brotherhood defending the realm against the fierce peoples and legendary creatures of the North.<br>
                  <a class="col-md-4 buy" href="https://www.amazon.co.uk/Song-Ice-Fire-Volumes/dp/0007477155/ref=sr_1_1?keywords=got+books&qid=1581863782&sr=8-1">Buy Now</a>
                  </span>
                  <button onclick="myFunction('GOTdots', 'GOTmore', 'GOTBtn')" id="GOTBtn">Read more</button>
               </p>
            </div>
            <div class="col-md-4">
               <h3 class="bio">The Witcher</h3>
               <p class="choices"><img src="static/img/the-witcher-books.jpg" class="picture-choices2">The Witcher is an American fantasy drama series produced by Lauren Schmidt Hissrich. 
                  It is based on the book series of the same name by Polish writer Andrzej Sapkowski. 
                  The first season, consisting of eight episodes, was released on Netflix in its entirety on December 20, 2019. 
                  Before the first season had been released, Netflix announced a second eight-episode season, to be released in 2021; 
                  production was scheduled to commence in London in early 2020.
                  <span id="Witcherdots">...</span><span id="Witchermore">Set in a fictional world, on a landmass known as "the Continent" where the culture is styled in a mix of fantasy elements from the Middle Ages and Renaissance.
                  The Witcher follows the story of solitary monster hunter Geralt of Rivia (Henry Cavill), 
                  sorceress Yennefer of Vengerberg (Anya Chalotra), and Cintran princess Ciri (Freya Allan), who find their lifes tied together. 
                  The first season is based on The Last Wish and Sword of Destiny, a collection of short stories which precede the main Witcher saga. 
                  It explores formative events that shaped the three lead characters, prior to their first encounters with each other.<br>
                  <a class="col-md-4 buy" href="https://www.amazon.co.uk/Andrzej-Sapkowski-Witcher-Collection-Contempt/dp/0678452229/ref=sr_1_1?crid=H3O9F3VPN1C6&keywords=the+witcher+books&qid=1581863877&sprefix=The+w%2Caps%2C208&sr=8-1">Buy Now</a>
                  </span>
                  <button onclick="myFunction('Witcherdots', 'Witchermore', 'WitcherBtn')" id="WitcherBtn">Read more</button>
               </p>
            </div>
         </div>
{% endblock %}