{% extends 'base.html' %}
{% block content %}
<div class="row container-fluid">
   <a class="col-md-12 logo" href="home.html"></a>
   <div class="col-md-12">
      <h2 class="welcome-title">Add a Book</h2>
      <p class="welcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
   </div>
   <div class="col-md-3 inline-item">
      <img src="{{url_for('static', filename='img/haircolour.jpg') }}" class="picture">
   </div>
   <div class="col-md-3 inline-item">
      <img src="{{url_for('static', filename='img/book.jpg') }}" class="picture">
   </div>
   <div class="col-md-3 inline-item">
      <img src="{{url_for('static', filename='img/busbook.jpg') }}" class="picture">
   </div>
   <div class="col-md-3 inline-item">
      <img src="{{url_for('static', filename='img/readingcorner.jpg') }}" class="picture">
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h5 class="blank">blank line</h5>
   </div>
</div>
<div class="container">
   <ul class="collapsible" data-collapsible="accordion">
      {% for book in book %}
      <li>
         <div class="collapsible-header">
            <div class="col s3">
               <a class="waves-effect waves-light btn btn_small">Read</a>
               <a href="{{url_for('delete_task', book_id=book._id)}}" class="waves-effect waves-light btn btn_small">Watched</a>
               <a href="{{url_for('edit_book', book_id=book._id)}}" class="waves-effect waves-light btn btn_small cyan">Edit</a>
            </div>
            <div class=" task_header col s9">
               <i class="material-icons">expand_more</i><strong>{{book.task_name}}</strong> - {{book.star_rating}}
            </div>
         </div>
         <div class="collapsible-body">
            <span>
            {{book.task_description}}
            </span>
         </div>
      </li>
      {% endfor %}
   </ul>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-12">
      <button class="addbook waves-effect">
         <a href="add_book"><span>Add a Book</span></a></button>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h5 class="blank">blank line</h5>
   </div>
</div>
<form action="/action_page.php">
   <div class="container">
      <h2>Subscribe to our Newsletter</h2>
      <p>Lorem ipsum text about why you should subscribe to our newsletter blabla. Lorem ipsum text about why you should subscribe to our newsletter blabla.</p>
   </div>
   <div class="container" style="background-color:white">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
      <label>
      <input type="checkbox" checked="checked" name="subscribe"> Weekly Newsletter
      </label>
   </div>
   <div class="container">
      <input type="submit" value="Subscribe">
   </div>
</form>
{% endblock %}