{% extends 'base.html' %}
{% block content %}
         <div class="row container-fluid">
            <a class="col-md-12 logo" href="home.html"></a>
            <div class="col-md-12">
               <h2 class="welcome-title">Welcome</h2>
               <p class="welcome">Welome to From Paper to Screen. Thank you for your interest in our book club! 
                  The mission of our website is to encourage reading of novels and then enjoying them on the big screen, 
                  open members up to new genres and authors that they thought they wouldn't enjoy, 
                  create discussion and provide an opportunity to meet new people in the community. 
                  Members may not like every book chosen for discussion, but on the other hand, might find a new author or genre to enjoy reading.
                  Book clubs offer a chance to try new things.
                  We look forward to you joining in the discussion on our Forum or simply scrolling through Our Choices to see our top picks.
               </p>
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/girlandbooks.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/narniabook.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/harrypotterlaptop.jpg">
            </div>
            <div class="col-md-3 inline-item">
               <img class="picture" src="static/img/hobbithole.jpg">
            </div>
            <div class="col-md-12">
               <h2 class="welcome-title">What We are about</h2>
            </div>
            <div class="col-md-9">
               <p class="welcome">Because many of us definitely don't read as much as we'd like to, 
                  the idea of joining a book club seems even more unlikely than happily sharing a pizza (never going to happen).
                  So we created a book club where we can not just read our favorite stories but watch them too.
                  Millions of books have been adapted on the big screen and we are only scratching the surface.
                  We keep tabs on what top leaders are reading or recommending and the beauty of this book club that's not a book club, is that it's online.
                  So no awkward small talk or having to make yourself look presentable to discuss the pages you have absorbed.
                  Book clubs are an opportunity to develop emotional intelligence, foster relationships and improve as communicators.
                  This spoke to me and it spoke to several others around me. so we decided to give it a go.
                  Founded in 2017 we haven't been going for very long but have found great success and some little gems along the way.
                  Even if you never would have picked the selection, a book club challenges you to think differently. 
               </p>
            </div>
            <div class="col-md-3">
               <img class="picture" src="static/img/booksandflowers.jpg">
            </div>
            <div class="col-md-4">
               <div class="card">
                  <img class="picture2" src="static/img/lauren.jpg" alt="Lauren" style="width:100%">
                  <h1>Lauren Doe</h1>
                  <p class="title">Founder</p>
                  <p>Birmingham<br>
                     Wanderlusting & Hogwarts dreamer
                  </p>
                  <div style="margin: 24px 0;">
                     <a href="#"><i class="fa fa-instagram"></i></a> 
                     <a href="#"><i class="fa fa-twitter"></i></a>  
                     <a href="#"><i class="fa fa-youtube"></i></a>  
                     <a href="#"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <p><a href="about.html"><button>About</button></a></p>
                  <p><a href="choices.html"><button>Our Choices</button></a></p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                  <img class="picture2" src="static/img/gingersmile.jpg" alt="Beth" style="width:100%">
                  <h1>Beth Doe</h1>
                  <p class="title">Founder</p>
                  <p>Birmingham<br>
                     LOTR enthusiast
                  </p>
                  <div style="margin: 24px 0;">
                     <a href="#"><i class="fa fa-instagram"></i></a> 
                     <a href="#"><i class="fa fa-twitter"></i></a>  
                     <a href="#"><i class="fa fa-youtube"></i></a>  
                     <a href="#"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <p><a href="about.html"><button>About</button></a></p>
                  <p><a href="choices.html"><button>Our Choices</button></a></p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                  <img src="static/img/anna2.jpg" alt="Anna" style="width:100%">
                  <h1>Anna Doe</h1>
                  <p class="title">Founder</p>
                  <p>Birmingham<br>
                     Animal lover
                  </p>
                  <div style="margin: 24px 0;">
                     <a href="#"><i class="fa fa-instagram"></i></a> 
                     <a href="#"><i class="fa fa-twitter"></i></a>  
                     <a href="#"><i class="fa fa-youtube"></i></a>  
                     <a href="#"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <p><a href="about.html"><button>About</button></a></p>
                  <p><a href="choices.html"><button>Our Choices</button></a></p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <iframe class="youtube" width="1012" height="569" src="https://www.youtube.com/embed/JV_PfGcPewY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         </div>
{% endblock %}